.Insignias {
  display: flex;
  justify-content: center;
  gap: 150px;
  align-items: center;
  display: flex;
  position: relative;
  top: 200px;
  
}

.ManuelG {
  text-align: center; 
}
.VirgenF {
  text-align: center; 
}
.SilviaR {
  text-align: center; 
}

.ManuelG img {
  display: block;
  margin: 0 auto;
  width: 150px; /* Ajusta el ancho del contenedor según tus necesidades */
  height: 150px; /* Ajusta la altura del contenedor según tus necesidades */
}

.MG {
  margin-top: 50px;
  text-decoration: none;
}
a {
  font-size: 30px;
  font-family: "inter";
  text-decoration: none;
  color: inherit;
}

/*barra desplegable*/
* {
  margin:0px;
  padding:0px;
}

#header {
  margin:auto;
  width:500px;
  font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
  list-style:none;
}

.nav > li {
  float:left;
}

.nav li a {
  background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.nav li a:hover {
  background-color:#434343;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}
